body{
  margin:0;
  font-family: "Hiragino Maru Gothic ProN", sans-serif;
  background: linear-gradient(180deg,#ffd6ec,#ffeef7);
  min-height:100vh;
  display:flex;
  justify-content:center;
}

h1{
  text-align:center;
  color:#ff4fa3;
  font-size:52px;
}

.container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
  margin-top:40px;
}

.item{
  background:#fff7fb;
  border-radius:30px;
  padding:10px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  transition:transform .2s;
}

.item img{
  width:100%;
  border-radius:10px;
}

button{
  margin-top:52px;
  background:#ff4fa3;
  border:none;
  color:white;
  padding:22px;
  font-size:42px;
  width:80%;
  border-radius:20px;
  cursor:pointer;
}

button:hover{
  background:#ff2c8c;
}

cartItems .item{
  font-size:42px;
}

fridgeLight{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:white;
  opacity:0;
  pointer-events:none;
  transition:opacity 0.4s;
}
